@font-face {
  font-family: 'DigifaceWide';
  src: url('../assets/font/DigifaceWide.ttf')
}


html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  font-family: 'Microsoft YaHei' !important;
  background-image: url("../assets/images/background.png");
  background-size: cover;
}
.el-carousel__button{
  width: 0.1rem !important;
  height: 0.1rem !important;
  border-radius: 50%;
}
.el-carousel__indicators{
  left:1.75rem;
}
.ivu-carousel-active{
  .radius{
    width: 24px!important;
    height: 9px!important;
    border-radius: 5px !important;
    opacity: 1 !important;
    background: white !important;
    //width: 10px !important;


  }
}
.radius{
  width: 10px !important;
  height: 10px !important;
}
.ivu-carousel-dots{
  text-align: right !important;
}